@media screen and (max-width: 800px) {
    .conter_con{
        .top{
            flex-direction: column;
            height: 666px;
            >div{
                width: 100%;
            }
            .slideshow{
                margin-bottom: 1em;
            }
            .view_list{
                margin-left: 0;
                &>div:nth-child(2n){
                    margin-right: 0;
                }
            }
        }
        .main{
            .content{
                flex-direction: column;
                >div{
                    width: 100%;
                }
                >:first-child{
                    margin-bottom: 1em;
                }
                .view_list{
                    margin-left: 0;
                    &>div:nth-child(2n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}